.vs-indicator {
	width: 50px;
	height: 50px;
	background-color: #333;
	margin: auto;

	border-radius: 50%;  
	-webkit-animation: circlefade 1.0s infinite ease-in-out;
	animation: circlefade 1.0s infinite ease-in-out;
}

@-webkit-keyframes circlefade {
	0% { 
		-webkit-transform: scale(0.0)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.0);
	}
}

@keyframes circlefade {
	0% { 
		transform: scale(0.0);
	} 100% {
		opacity: 0;
		transform: scale(1.0);
	}
}

.vs-scrim {
	position: relative;
	width: 100%;
	min-height: 150px;
	height: 100%;
	z-index: 100;
}

.vs-spinner-wrapper {
	position: relative;
}
